<h1>All Petition</h1>

<%= form_tag sessions_path do %>
  <div class="field">
<!--     <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %> -->  	
  </div>
  <div class="actions"><%= link_to "Home", root_path %></div>
<% end %>